{% extends 'base.html' %}
{% block content %}
<div class="container my-3" xmlns="">
        <!-- flash 오류 -->
        {% for message in get_flashed_messages() %}
            <div class="alert alert-danger" role="alert">
                {{message}}
            </div>
        {% endfor %}
        <!-- 질문 -->
        <h2 class="border-bottom py-2">{{question.subject}}</h2>
        <div class="card my-3">
            <div class="card-body">
                <!--white-space:pre-line: 글 내용의 줄 바꿈을 정상적-->
                <div class="card-text" >{{question.contents|markdown}}</div>
                <div class="d-flex justify-content-end">
                    <!-- 수정일 -->
                    {% if question.modify_date %}
                    <div class="badge bg-light text-dark p-2 text-start  mx-3">
                        <div class="mb-2">수정일</div>
                        <div >{{question.modify_date|datetime}}</div>
                    </div>
                    {% endif %}
                    <div class="badge bg-light text-dark p-2 text-start">
                        <div class="mb-2">{{question.user.username}}</div>
                        <div >{{question.create_date|datetime}}</div>
                    </div>
                </div>
                <!-- 수정은 글을 등록한 사람만 수정 가능-->
                <div class="my-3">
                    <a href="javascript:void(0)" data-uri="{{ url_for('question.vote',question_id=question.id)}}" class="recommend btn btn-sm btn-outline-secondary">추천
                        <span class="badge rounded-pill bg-success">{{question.voter|length}}</span>
                    </a>

                    {% if g.user == question.user %}
                     <a href="{{ url_for('question.modify',question_id=question.id) }}"  class="btn btn-sm btn-outline-secondary">수정</a>
                     <a href="javascript:void(0)" class="delete btn btn-sm btn-outline-secondary"
                      data-uri ="{{ url_for('question.delete',question_id=question.id)}}"
                     >삭제</a>

                    {% endif %}
                </div>
            </div>

        </div>
        <!-- 질문 --------------------------------------------------------------------->

        <!--답변-->
        <h5 class="border-bottom my-3 py-2">{{question.answer_set|length}}개의 답변</h5>
        <div>
                {% for answer in question.answer_set%}
                   <div class="card my-3">
                       <div class="card-body">
                           <div class="card-text" >{{answer.contents|markdown}}</div>
                           <div class="d-flex justify-content-end">
                            <!-- 수정일 -->
                            {% if answer.modify_date %}
                            <div class="badge bg-light text-dark p-2 text-start mx-3">
                                <div class="mb-2">수정일</div>
                                <div >{{answer.modify_date|datetime}}</div>
                            </div>
                            {% endif %}

                               <div class="badge bg-light text-dark p-2 text-start">
                                   <div class="mb-2">{{answer.user.username}}</div>
                                   <div >{{answer.create_date|datetime}}</div>
                               </div>
                           </div>

                           <!--답변 수정-->
                           <div class="my-3">
                               <a href="javascript:void(0)" data-uri="{{ url_for('answer.vote',answer_id=answer.id)}}"
                                  class="recommend btn btn-sm btn-outline-secondary">추천
                                   <span class="badge rounded-pill bg-success">{{answer.voter|length}}</span>
                               </a>
                               {% if g.user == answer.user %}
                               <a href="{{ url_for('answer.modify',answer_id=answer.id) }}" class="btn btn-sm btn-outline-secondary" >수정</a>
                               <a href="#" class="delete btn btn-sm btn-outline-secondary"
                               data-uri="{{ url_for('answer.delete',answer_id=answer.id )}}"
                               >삭제</a>
                               {% endif %}
                           </div>


                       </div>
                   </div>
                {% endfor %}
        </div>
        <!-- 답변 --------------------------------------------------------------------->

        <!-- 답변등록 -->
        <form class="my-3" action="{{url_for('answer.create',question_id=question.id)}}" method="post" >
            {{form.csrf_token()}}
            <!--오류표시 -->
            {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                    {% for field,errors in form.errors.items()%}
                        <strong>{{form[field].label}}</strong>
                        <ul>
                            {% for error in errors%}
                                <li>{{error}}</li>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                </div>
            {% endif %}
           <!--오류표시 --------------------------------------------------->
            <div class="mb-3">
                <textarea {% if not g.user %}  disabled {% endif %} name="contents" id="contents" rows="7" class="form-control"></textarea>
            </div>
            <input type="submit" value="답변등록" class="btn btn-primary">
        </form>
    </div>

{% endblock %}

{% block script %}
    <script>
        const recommendElements = document.getElementsByClassName('recommend');
        Array.from(recommendElements).forEach(function(element){
            element.addEventListener('click', function(){
                console.log('recommendElements click');
                if(confirm('추천 하시겠습니까?')){
                    location.href = this.dataset.uri;
                }
             });
        });


        const deleteEmements =document.getElementsByClassName('delete');
        //Array.from(deleteEmements) : deleteEmements를 배열 요소로 변환
        Array.from(deleteEmements).forEach(function(element){
            element.addEventListener('click', function(){
                console.log('deleteEmements click');
                console.log('this.dataset.uri:'+this.dataset.uri);
                if(confirm('삭제 하시겠습니까?')){
                    location.href = this.dataset.uri;
                }
            });
        });
    </script>
{% endblock %}