{% extends 'base.html' %}
{% block content %}
<!--질문등록-->
<div class="container">
    <h5 class="my-3 border-bottom">질문등록</h5>
    <!--action속성이 없으면, 현재 페이지의 url이 default action으로 설정-->
    <!--<form action="{{ url_for('question.create') }}"> 생략해서 사용 : 수정, 등록에 사용-->
    <form method="post" class="post-form my-3">
<!--        {{form.subject.label}}-->
<!--        {{form.subject(class="form-control")}}-->
<!--        {{form.contents.label}}-->
<!--        {{form.contents(class="form-control")}}-->
    {{form.csrf_token}}
        <!--validate 처리-->
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {% for field, errors in form.errors.items() %}
                <strong>{{form[field].label}}</strong>
                <ul>
                    {% for error in errors %}
                        <li>{{error}}</li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
        {% endif %}
        <!--//validate / alert말고-->

        <div class="mb-3">
            <label for="subject">제목</label>
            <input type="text" class="form-control" name="subject" id="subject" value="{{form.subject.data or ''}}">
        </div>
        <div class="mb-3">
            <label for="contents">내용</label>
            <textarea class="form-control" name="contents" id="contents" rows="5">{{form.contents.data or ''}}</textarea>
            {{ simplemde.load }}

        </div>
        <button type="submit" class="btn btn-primary">저장</button>
    </form>
</div>

{% endblock %}